@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --logo-color: #E6CE40;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
